{% extends "catalog/base.html" %}
{% block content %}
{% load static %}
{% load types %}

{% if query_list %}
  <h1> Search results for <i>{{query_label}}</i> </h1>
  <p class="small">&nbsp;</p>
  {% for query in query_list %}
    {% if query|is_string %}
      <p>
      {{ query }} 
      </p>
    {% else %}
      <div class="catalog-object-border">
        <span class="catalog-object-marker {{ query.category }}-marker">{{ query.category }}</span>
        <a href="{{ query.structured_query_url }}"><b>{{ query.title }}</b></a></br>
        <span style="font-size: 66%">
        {% for key,value in query.details.items %}
          &nbsp;<b>{{key}}</b>: {{value}}
        {% endfor %}
        </span>
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  <div class="information">
  <h1> No results for <i>{{query_label}}</i> </h1>
  </div>
{% endif %}       
{% endblock %}
